.side-div > *, .side-div {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a * {
    cursor: pointer;
}

.align-left {
    text-align: left;
}

.header-top {
    height: 68px;
    line-height: 68px;
}

input[name=keyword] {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #dadada;
    background: transparent;
    padding-left: 0;
    width: 170px;
    height: 34px;
    font-size: 13px;
    outline: none;
}

.header-basket_login * {
    margin-left: 20px;
    font-size: 14px;
}

.header-basket_login {
    margin-left: 30px;
}

a.head-font2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}