<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>

<div th:fragment="header">
    <header class="main-header">
        <div class="header-frame">
            <div class="text-center header-top">
                <div class="row">
                    <div class="col align-left">
                        <div class="header-basket_login side-div">
                            <div class="header-basket">
                                <a class="head-font1">장바구니</a>
                            </div>
                            <div class="header-login">
                                <a class="head-font1">로그인</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-title col-6">
                        <div class="site-title">
                            <a href="#" class="head-font2">주말랭이</a>
                        </div>
                    </div>
                    <div class="header-search col">
                        <div class="head-search">
                            <form name="head-search" method="post">
                                <input type="text" name="keyword" placeholder="👀 주말에 어디로 가볼랭?" title="검색">
                                <a class="search-tool">
                                    <i class="bi bi-search"></i>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">

            </div>
        </div>
    </header>
</div>

</html>